@import "./utils/variables";
@import "./utils/mixin";
@import "./base/base";
@import "./layouts/entete";
@import "./layouts/footer";


.bloc1{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background: url(../img/background1.jpg);
    background-size: cover;
    &__contenu{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        h1{
            font-size: 4rem;
            text-align: center;
            color: $colorBlanche;
            margin: 0;
        }
        h2{
            text-align: center;
            color: $colorBlanche;
            font-size: 1.2rem;
            margin-bottom: 25px;
        }
        a{
            @include bouton(43%, 1.2rem, 10px);
        }
    }

     @include responsive-mobile(425px){
            height: 80vh;
            background: url(../img/background2.jpg);
            &__contenu{
                top: 40%;
            }
            h1{
                font-size: 2.4rem;
            }
            h2{
                font-size: 0.8rem;
            }
            &__contenu a{
            @include bouton(35%, 1rem, 7px);
        }
    }
    @include responsive-mobile(375px){
        &__contenu a{
            @include bouton(30%, 1rem, 7px);
    }
}

@include responsive-mobile(320px){
        &__contenu a{
            @include bouton(25%, 1rem, 7px);
    }
}
}



.bloc2{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-top: 40px;
    &__presentation{
        width: 40%;
        span{
            display: inline-block;
            padding: 0 7px;
            color: $color-principal;
            border: solid 2px $color-principal;
        }
        h1{
            font-size: 2em;
        }
        p{
            text-align: justify;
            line-height: 2;
            margin-top: -20px;
        }
        a{
            @include bouton;
        }
    }

    &__presentation-images{
        display: flex;
        flex-direction: column;
        p{
            margin: 0;
        }
        img{
            cursor: pointer;
            transition: transform .3s;
            &:hover{
                position: relative;
                transform: scale(1.5);
            }
        }
    }

    @include responsive-mobile(425px){
       width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        &__presentation{
            width: 90%;
            margin-left: 5%;
            h1{
                margin-top: 10px;
                font-size: 1.8em;
            }
        }
        &__presentation-images{
            display: none;
        }
    }

    @include responsive-mobile(320px){
        height: 80vh;
    }
}


.bloc3{
    width: 100%;
    height: 70vh;
    background: linear-gradient(to right, $color-principal, $color-secondaire 50%, $color-principal);
    &__contenu{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        align-items: center;
        &__carte{
            width: 380px;
            height: 153px;
            box-shadow: 0 10px 30px rgba($color: #000000, $alpha: 0.2);
            padding: 10px 20px 20px 20px;
            background-color: $colorBlanche;
            &:hover{
                box-shadow: 0 10px 30px rgba($color: #000000, $alpha: 0.4);
                transition: box-shadow 0.2s;
            }
            h3{
                font-weight: bold;
                margin-bottom: -5px;
            }
            a{
                @include bouton;
                margin-top: -5px;
            }
        }
    }

    @include responsive-mobile(425px){
        height: 150vh;
        &__contenu{
        flex-direction: column;
        align-items: center;
        justify-content: none;
        &__carte{
            width: 300px;
            height: auto;
            padding: 10px 20px 25px 20px;
            background-color: $colorBlanche;
        }
        }
    }

    @include responsive-mobile(320px){
        &__contenu{
            &__carte{
                width: 250px;
                height: auto;
            }
        }
    }
}

